html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #b5d1cc;
    /* text-align: center; */
}

main {
    margin: 40px auto;

  }

  #calculator {
    /* border: 2px solid ; */
    width: 900px;
    padding: 30px 50px;
    border-radius: 10px;
    background-image: url("./img/brushed-black-metal.jpg");
    box-shadow: inset 0 0 60px #1b1b1b,
                0 0 15px #242424 ;
    font-weight: 600;
    padding-bottom: 60px
  }

#firstRow, #secondRow, #thirdRow {
    text-align: center;
    vertical-align: bottom;;
    margin: 10px 0;
    padding: 0;
}

#thirdRow {
    margin-top: 20px;
}

.displayFrame, .button {
    margin: 8px;
    padding: 0;
    vertical-align: bottom;

}

.displayFrame {
    /* border: 2px solid grey; */
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px
    }

.displayLabel {
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 0;
    color: white;
    font-family: tempting;
    font-weight: 100;
    font-size: 1.3em;
}


.display {
    display: inline-block;
    width: 225px;
    background-color: #afab99;
    box-shadow: inset 0 0 7px  #4a4737;
    color: #4a4737;
    height: 50px;
    font-family: digital7;
    text-align: end;
  }

#resultDisplay {
    width: 260px
}

.button {
    color: white;
    background: rgba(0,0,0,0.1);
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: inset 0 0 7px  #2c2c2c;
    font-weight: 600px;
    /* font-family: tempting; */
}

.medButton {
    width: 105px;
    height:50px;
}

.smallButton, .numberButton {
    width: 50px;
    height:50px;
}